body{
    background-color: #22396a;
    color: white;
    font-family: sans-serif;
    line-height: 2;
    padding: 30px 120px;
    margin: 0px;
}
.header{
    text-align: center;
}
h2{
    color: rgb(90, 188, 90);
    font-size: 32px;
}
h3{
    font-size: 24px;
}
.footer{
    background-color:#11244d ;
    text-align: center;
    padding: 20px;
}
a{
    color: red;
}
img{
    width: 300px;
}